@{
    ViewData["Title"] = "myHomePage";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Tijuana</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">tech, sex, drugs and much more</a>.</p>
</div>
